<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cognitive Solution Dashboard</title>
    </head>
    <body>
        <div id="app" class="uk-section uk-padding-remove-vertical uk-flex"
            uk-height-viewport="expand: true">
            <router-view></router-view>
            <locale-select :locale.sync="locale"></locale-select>
        </div>
        <% if (htmlWebpackPlugin.options.env === "development") { %>
            <script type="text/javascript" src="/reload/reload.js"></script>
        <% } %>
    </body>
</html>
