apiVersion: v1
kind: Service
metadata:
  name: cs-dashboard-service
  labels:
    app: cs-dashboard-service
spec:
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: cs-dashboard
  selector:
    app: cs-dashboard
